obj/HelloWorld.csproj.nuget.dgspec.json
obj/HelloWorld.csproj.nuget.g.props
obj/HelloWorld.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/HelloWorld.AssemblyInfo.cs
obj/Debug/net6.0/HelloWorld.AssemblyInfoInputs.cache
obj/Debug/net6.0/HelloWorld.assets.cache
obj/Debug/net6.0/HelloWorld.csproj.AssemblyReference.cache
obj/Debug/net6.0/HelloWorld.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/HelloWorld.csproj.FileListAbsolute.txt
obj/Debug/net6.0/HelloWorld.dll
obj/Debug/net6.0/HelloWorld.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/HelloWorld.genruntimeconfig.cache
obj/Debug/net6.0/HelloWorld.GlobalUsings.g.cs
obj/Debug/net6.0/HelloWorld.pdb
obj/Debug/net6.0/ref/HelloWorld.dll
obj/Debug/net6.0/refint/HelloWorld.dll

bin/Debug/net6.0/HelloWorld.deps.json
bin/Debug/net6.0/HelloWorld.dll
bin/Debug/net6.0/HelloWorld.exe
bin/Debug/net6.0/HelloWorld.pdb
bin/Debug/net6.0/HelloWorld.runtimeconfig.json
.vscode/tasks.json
.vscode/launch.json
